.addBurger {
    margin-left: 20%;
}

body {
    background-color: turquoise;
    color: turquoise;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color: turquoise;
    color: turquoise;
    margin-left: auto;
    margin-right: auto;
}